extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Somos una agencia de viajes que elige cuidadosamente sólo a los  proveedores más calificados y de prestigio para brindar el mejor servicio.

                blockquote AG viaje proporciona a sus clientes una de las selecciones más amplias de hospedaje en línea con más de cientos de miles establecimientos en todo el mundo, incluyendo hoteles independientes, grandes cadenas hoteleras y aparthoteles. La compañía ofrece una fuente de compras única en cuanto a los precios, los servicios y la disponibilidad del hotel. También se especializa en brindar hospedaje a los viajeros durante los períodos en los que no hay disponibilidad.

                p Acerca de AG Viaje
                p Somos una Empresa 100% mexicana fundada en la Ciudad de Mérida Yucatán bajo el nombre AG viaje teniendo un reconocido prestigio en el país y una amplia experiencia en el mercado turístico crea su marca vdviaje.mx para brindar a nuestros clientes la forma más fácil de reservar sus hoteles, tours, traslados y demás servicios al mejor precio online.

                p Nuestra misión
                p Brindar un servicio personalizado de calidad, siempre tratando de superar las expectativas del cliente, ofreciendo las mejores opciones en materia turística para satisfacer sus necesidades y deseos. Buscamos mantener una relación duradera con nuestros clientes con atención post venta y un seguimiento personalizado para fomentar la lealtad y asegurar una satisfacción total.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Somos una agencia de viajes que elige cuidadosamente sólo a los proveedores más calificados y de prestigio para brindar el mejor servicio.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p AG viaje ofrece todo lo que usted y su familia necesitan de una agencia de viajes para las mejores vacaciones; incluyendo descuentos en boletos de avión, las mejores tarifas y ofertas en Hoteles.
                .col-md-4    
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Contamos con paquetes para vacaciones, luna de miel, grupos, convenciones, viajes de incentivos o graduaciones de estudiantes a diversos destinos de México y Cuba como: Acapulco, Vallarta, Los Cabos, etc.
                    